* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 1rem;
  background-color: #f9f9f9;
  color: #333;
}

/* 3. Headings */
h1,
h2 {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

p {
  margin-bottom: 1rem;
}

/* 4. Packages list */
ul {
  list-style: none;
  margin-bottom: 2rem;
}

/* Flexbox for packages */
ul {
  display: flex;
  flex-direction: column; /* mobile first */
  gap: 1rem;
}

a {
  text-decoration: none;
  background: #0077cc;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  display: inline-block;
}

a:hover {
  background: #005fa3;
}

.itineraries {
  display: flex;
  flex-direction: column; /* mobile */
  gap: 1.5rem;
}

figure {
  background: white;
  padding: 1rem;
  border-radius: 10px;
}

figcaption {
  margin-top: 0.8rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.active-heading {
  color: #0077cc;
}

.package {
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}

.highlight {
  color: #ff4500;
  transform: scale(1.2);
}

#dynamic-destinations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 768px) {
  ul {
    flex-direction: row;
  }

  section {
    margin-top: 6rem;
  }

  .itineraries-section h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .itineraries {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .itineraries img {
    height: 22rem;
    object-fit: cover;
  }

  .itineraries figure {
    flex: 1;
  }
}
